<!-- Remove the container if you want to extend the Footer to full width. -->
<div>
    <style>
        .text-Colors {
            color: #5a2918;
        }

    </style>
    <!-- Footer -->
    <footer class="text-Colors">
        <!-- Grid container -->
        <div class="container">
            <!-- Section: Links -->
            <section class="mt-5">
                <!-- Grid row-->
                <div class="row text-center d-flex justify-content-center pt-5">
                    <!-- Grid column -->
                    <div class="col-md-2">
                        <div class="col-md-2">
                            <h6 class="text-uppercase font-weight-bold">
                                <a href="#HomePageList" class="text-Colors">Home</a>
                            </h6>
                        </div>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="#OurproductsPage" class="text-Colors"> Our Products</a>
                        </h6>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="#DicountPage" class="text-Colors">Discounts</a>
                        </h6>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#AboutPage" class="text-Colors">About us</a>
                    </h6>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="https://www.instagram.com/tedschocolate/" class="text-Colors">Contact</a>
                        </h6>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row-->
            </section>
            <!-- Section: Links -->

            <hr class="my-4" />

            <!-- Section: Text -->
            <section class="mb-5">
                <div class="row d-flex justify-content-center">



                    <p><i class="fa fa-map-marker"></i>  Osdorpplein 384, 1068 EV Amsterdam, Hollanda</p> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                    <p><i class="fa fa-envelope"></i> info@tedschocolate.com</p> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                    <p>
                        <i class="fa fa-phone"></i>+31 6 42414477
                    </p>

                </div>
            </section>
            <!-- Section: Text -->
            <!-- Section: Social -->
            <section class="text-Colors text-center">
                <a href="https://www.instagram.com/tedschocolate/" class="text-Colors me-12">
                    <i class="fa fa-instagram" style="font-size:36px"></i>
                </a>



            </section>
            <!-- Section: Social -->
        </div>

        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center "
             style="background-color: rgba(0, 0, 0, 0.2)">

            <a class="text-white" href="https://mdbootstrap.com/"></a>
        </div>

        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>
<!-- End of .container -->
<footer class="container-fluid footer_section">
    <div class="container">
        <div class="col-md-11 col-lg-8 mx-auto">
            <p>
                &copy; @DateTime.Now.Year All Rights Reserved By
                <a href="https://keremgenc.com/" style="color:red">Builder of the Site</a>
            </p>
        </div>
    </div>
</footer>
<footer class="container-fluid footer_section">
    <div class="container">
        <div class="col-md-11 col-lg-8 mx-auto">
            <p style="color:white">
                &copy; <span id="displayYear"></span> All Rights Reserved By
                <a href="https://html.design/">Free Html Templates</a>
            </p>
        </div>
    </div>
</footer>