<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>TED’S CHOCOLATE</title>


    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/chocolux-master/css/bootstrap.css" />
    <!--slick slider stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
    <!-- slick slider -->
 
  
    <link rel="stylesheet" href="~/chocolux-master/css/slick-theme.css" />
    <!-- font awesome style -->
    <link href="~/chocolux-master/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/chocolux-master/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/chocolux-master/css/responsive.css" rel="stylesheet" />

</head>